html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#lamp-canvas {
	width: 100%;
	height: 100%;
	cursor: none;
}

#lamp-footer {
	position: absolute;
	width: 100%;
	height: 32px;
	background-color: black;
	text-align: center;
	bottom: 0px;
	left: 0px;
	cursor: default;
}

#lamp-footer a {
	text-decoration: none;
	font-size: 20px;
	line-height: 32px;
	color: white;
	margin: 0;
	padding: 0;
}

#lamp-footer a:hover {
	border-bottom: 1px solid grey;
}
